.ChoroplethWindow {
    background-color: #838383;
    height: 100%;
    padding-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.ChoroplethWindow #Chart {
    /* margin: auto; */
    position:absolute;
    /* top: 0px; */
    left: 0px;
}
